<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script type="module" src="../src/Components/forms/Footer.js"></script>
    <script type="module" src="../src/Components/dashboardDoctor/cards.js"></script>
    <link rel="stylesheet" href="../src/css/estilos.css">
    <!-- <script type="module" src="../src/Components/dashboard/header/HeaderDas.js"></script> -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgb(56, 172, 205) !important;">
        <a class="navbar-brand perfil" href="#">CITAS MEDICAS S.A.S</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav menu-h" >
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" >Cuenta<span class="sr-only"></span></a>
                    <ul class="menu-v dropdown-menu" style="background-color: rgb(56, 172, 205) !important;" aria-labelledby="navbarDropdownMenuLink">
                        <li><button id="logout" class="dropdown-item">Cerrar Sesión</button></li>
                        <li><a class="dropdown-item" href="../../../views/perfil.html">Ver Perfil</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <br>
    <my-cards-doc></my-cards-doc>
    <my-footer></my-footer>
</body>

<script src="../src/Components/dashboard/index.js"></script>

</html>